*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Fredoka", sans-serif;
  background-color: #FFFFFE;
}

.debug{
  background-color: rgba(red, 0, 0, 25);
  border: 1px solid black;
  min-height: 150px;
}

.container{
  margin: 0 auto;
  max-width: 1170px;
  width: 90%;
}

h1{
  text-align: center;
  color: #E53170;
  font-size: 40px;
  margin: 50px;
}

.container p{
  text-align: center;
  margin-bottom: 50px;
}

.row .col{
  float: left;
  width: calc(100% / 3);
}